<% var data = {
  title: "V-games | Продажа ваучеров для видеоигр "
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="main-content">
    
    <div class="cart-page">
        <div class="container">
            <div class="cart-page__wrapper">

                <div class="topPageHeading topPage-block">
                    <h1 class="topPageHeading__heading">
                        Корзина
                    </h1>
                    <div class="topPageHeading__breadcrumbs breadcrumbs">
                      <a href="/" class="breadcrumbs__home">Главная</a> 
                      &#8260;
                      <span class="breadcrumbs__currentPage">Корзина</span>
                    </div>
                </div>


                <div class="cart-goods goods-block">




                    <div class="cart-goods__item cart-item">

                        <div class="cart-item__pic">

                            <div class="cart-item__picBlk">
                                <img src="./img/cod.jpg" alt="game" class="cart-item__picGame">
                            </div>

                        </div>

                        <div class="cart-item__info">

                            <div class="cart-item__heading">
                                <div class="cart-item__name">
                                    Call of Duty: WWII   
                                </div>
                            </div>
                            <div class="cart-item__price">
                                    $228.300
                                </div>
                            <div class="cart-item__category">
                                Game Voucher
                            </div>


                        </div>

                        <div class="cart-item__close">
                            <button class="cart-item__clsBtn">

                            </button>
                        </div>


                    </div>

                    <div class="cart-goods__item cart-item">

                            <div class="cart-item__pic">
    
                                <div class="cart-item__picBlk">
                                    <img src="./img/cod.jpg" alt="game" class="cart-item__picGame">
                                </div>
    
                            </div>
    
                            <div class="cart-item__info">
    
                                <div class="cart-item__heading">
                                    <div class="cart-item__name">
                                        Call of Duty: WWII   
                                    </div>
                                </div>
                                <div class="cart-item__price">
                                        $228.300
                                    </div>
                                <div class="cart-item__category">
                                    Game Voucher
                                </div>
    
    
                            </div>
    
                            <div class="cart-item__close">
                                <button class="cart-item__clsBtn">
    
                                </button>
                            </div>
    
    
                    </div>

                    <div class="cart-goods__item cart-item">

                            <div class="cart-item__pic">
    
                                <div class="cart-item__picBlk">
                                    <img src="./img/cod.jpg" alt="game" class="cart-item__picGame">
                                </div>
    
                            </div>
    
                            <div class="cart-item__info">
    
                                <div class="cart-item__heading">
                                    <div class="cart-item__name">
                                        Call of Duty: WWII   
                                    </div>
                                </div>
                                <div class="cart-item__price">
                                        $228.300
                                    </div>
                                <div class="cart-item__category">
                                    Game Voucher
                                </div>
    
    
                            </div>
    
                            <div class="cart-item__close">
                                <button class="cart-item__clsBtn">
    
                                </button>
                            </div>
    
    
                    </div>

                    <div class="cart-goods__item cart-item">

                            <div class="cart-item__pic">
    
                                <div class="cart-item__picBlk">
                                    <img src="./img/cod.jpg" alt="game" class="cart-item__picGame">
                                </div>
    
                            </div>
    
                            <div class="cart-item__info">
    
                                <div class="cart-item__heading">
                                    <div class="cart-item__name">
                                        Call of Duty: WWII   
                                    </div>
                                </div>
                                <div class="cart-item__price">
                                        $228.300
                                    </div>
                                <div class="cart-item__category">
                                    Game Voucher
                                </div>
    
    
                            </div>
    
                            <div class="cart-item__close">
                                <button class="cart-item__clsBtn">
    
                                </button>
                            </div>
    
    
                    </div>
    
                    <div class="cart-goods__item cart-item">

                            <div class="cart-item__pic">
    
                                <div class="cart-item__picBlk">
                                    <img src="./img/cod.jpg" alt="game" class="cart-item__picGame">
                                </div>
    
                            </div>
    
                            <div class="cart-item__info">
    
                                <div class="cart-item__heading">
                                    <div class="cart-item__name">
                                        Call of Duty: WWII   
                                    </div>
                                </div>
                                <div class="cart-item__price">
                                        $228.300
                                    </div>
                                <div class="cart-item__category">
                                    Game Voucher
                                </div>
    
    
                            </div>
    
                            <div class="cart-item__close">
                                <button class="cart-item__clsBtn">
    
                                </button>
                            </div>
    
    
                    </div>

                    <div class="cart-goods__item cart-item">

                            <div class="cart-item__pic">
    
                                <div class="cart-item__picBlk">
                                    <img src="./img/cod.jpg" alt="game" class="cart-item__picGame">
                                </div>
    
                            </div>
    
                            <div class="cart-item__info">
    
                                <div class="cart-item__heading">
                                    <div class="cart-item__name">
                                        Call of Duty: WWII   
                                    </div>
                                </div>
                                <div class="cart-item__price">
                                        $228.300
                                    </div>
                                <div class="cart-item__category">
                                    Game Voucher
                                </div>
    
    
                            </div>
    
                            <div class="cart-item__close">
                                <button class="cart-item__clsBtn">
    
                                </button>
                            </div>
    
    
                    </div>

                    <div class="cart-order ">

                        <a href="#" class="cart-order__btn">
                            Оформить заказ 
                        </a>

                        <div class="cart-order__price">
                            <span class="cart-order__text">Итоговая стоимость:</span>
                            <span class="cart-order__amount">$228.300</span>
                        </div>
                    </div>



                </div>



            </div>
        </div>
    </div>

    <div class="banners-blc banners-cart">
        <div class="container">
  
          <div class="banners-blc__wrapper">
  
            <div class="banners-blc__banner delivery banners-blc__banner-size">
                <div class="banners-blc__heading">
                    Бесплатная доставка
                </div>
                <div class="banners-blc__subheading">
                    Для заказов свыше &#36;228
                </div>
            </div>
  
            <div class="banners-blc__banner open-hours banners-blc__banner-size">
                <div class="banners-blc__heading">
                    Работаем 24/7
                </div>
                <div class="banners-blc__subheading">
                    Приём заказов в любое время
                </div>
            </div>
            
          </div>
  
        </div>
      </div>



  

</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>