<% var data = {
  title: "V-games | Продажа ваучеров для видеоигр "
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="main-content">
 
    <div class="page-info">
      <div class="container">
        
        <div class="page-info__wrapper">

          <h1 class="page-info__heading">
            Продажа ваучеров <span class="text-accent">для видеоигр</span>
          </h1>
          <div class="page-info__subheading">
            Подарочные сертификаты можно использовать для покупки
          </div>

        </div>

      </div>
    </div>

    <div class="banners-blc">
      <div class="container">

        <div class="banners-blc__wrapper">

          <div class="banners-blc__banner delivery">
              <div class="banners-blc__heading">
                  Бесплатная доставка
              </div>
              <div class="banners-blc__subheading">
                  Для заказов свыше &#36;228
              </div>
          </div>

          <div class="banners-blc__banner open-hours">
              <div class="banners-blc__heading">
                  Работаем 24/7
              </div>
              <div class="banners-blc__subheading">
                  Приём заказов в любое время
              </div>
          </div>
          
        </div>

      </div>
    </div>


    <div class="new-items">
      <div class="container">

        <div class="new-items__wrapper items-slider">

          <div class="items-slider__top">
            <h2 class="items-slider__heading">
              Новинки
            </h2>

            <div class="new-items__buttons slider-btn">
              <button class="slider-btn__left">

              </button>

              <button class="slider-btn__right">

              </button>
            </div>

        </div>

        <div class="items-slider__bottom">

          <div class="item">
            <div class="item__top">

              <div class="item__linkBlk">
                <a href="#" class="item__link">
                  Add to cart
                </a>
              </div>
              
              <div class="item__picBlk">
                <img src="./img/cod.jpg" alt="game" class="item__picGame">
              </div>

            </div>

            <div class="item__bottom">
                <h4 class="item__heading">
                    Call of Duty: WWII 
                </h4>
                <div class="item__category">
                    Game Voucher
                </div>
                <div class="item__price">
                    $228.300
                </div>
            </div>

          </div>

          <div class="item">
              <div class="item__top">

                <div class="item__linkBlk">
                  <a href="#" class="item__link">
                    Add to cart
                  </a>
                </div>
                
                <div class="item__picBlk">
                  <img src="./img/MAE.jpg" alt="game" class="item__picGame">
                </div>

              </div>

              <div class="item__bottom">
                  <h4 class="item__heading">
                      Call of Duty: WWII
                  </h4>
                  <div class="item__category">
                      Game Voucher
                  </div>
                  <div class="item__price">
                      $228.300
                  </div>
              </div>

            </div>
    
          <div class="item">
              <div class="item__top">

                <div class="item__linkBlk">
                  <a href="#" class="item__link">
                    Add to cart
                  </a>
                </div>
                
                <div class="item__picBlk">
                  <img src="./img/DAI.jpg" alt="game" class="item__picGame">
                </div>

              </div>

              <div class="item__bottom">
                  <h4 class="item__heading">
                      Call of Duty: WWII
                  </h4>
                  <div class="item__category">
                      Game Voucher
                  </div>
                  <div class="item__price">
                      $228.300
                  </div>
              </div>

            </div>

          <div class="item">
              <div class="item__top">

                <div class="item__linkBlk">
                  <a href="#" class="item__link">
                    Add to cart
                  </a>
                </div>
                
                <div class="item__picBlk">
                  <img src="./img/cod.jpg" alt="game" class="item__picGame">
                </div>

              </div>

              <div class="item__bottom">
                  <h4 class="item__heading">
                      Call of Duty: WWII
                  </h4>
                  <div class="item__category">
                      Game Voucher
                  </div>
                  <div class="item__price">
                      $228.300
                  </div>
              </div>

            </div>

          <div class="item">
              <div class="item__top">

                <div class="item__linkBlk">
                  <a href="#" class="item__link">
                    Add to cart
                  </a>
                </div>
                
                <div class="item__picBlk">
                  <img src="./img/BF3.jpg" alt="game" class="item__picGame">
                </div>

              </div>

              <div class="item__bottom">
                  <h4 class="item__heading">
                      Call of Duty: WWII
                  </h4>
                  <div class="item__category">
                      Game Voucher
                  </div>
                  <div class="item__price">
                      $228.300
                  </div>
              </div>

            </div>
            
          <div class="item">
            <div class="item__top">

              <div class="item__linkBlk">
                <a href="#" class="item__link">
                  Add to cart
                </a>
              </div>
              
              <div class="item__picBlk">
                <img src="./img/BF3.jpg" alt="game" class="item__picGame">
              </div>

            </div>

            <div class="item__bottom">
                <h4 class="item__heading">
                    Call of Duty: WWII
                </h4>
                <div class="item__category">
                    Game Voucher
                </div>
                <div class="item__price">
                    $228.300
                </div>
            </div>

          </div>
            
        </div>








        
        </div>


      </div>
    </div>

    <div class="popular-items">
      <div class="container">

        <div class="popular-items__wrapper items-slider">

          <div class="items-slider__top">
            <h2 class="items-slider__heading">
              Популярное
            </h2>

            <div class="new-items__buttons slider-btn">
              <button class="slider-btn__left">

              </button>

              <button class="slider-btn__right">

              </button>
            </div>

        </div>

        <div class="items-slider__bottom">

          <div class="item">
            <div class="item__top">

              <div class="item__linkBlk">
                <a href="#" class="item__link">
                  Add to cart
                </a>
              </div>
              
              <div class="item__picBlk">
                <img src="./img/DAI.jpg" alt="game" class="item__picGame">
              </div>

            </div>

            <div class="item__bottom">
                <h4 class="item__heading">
                    Call of Duty: WWII
                </h4>
                <div class="item__category">
                    Game Voucher
                </div>
                <div class="item__price">
                    $228.300
                </div>
            </div>

          </div>

          <div class="item">
            <div class="item__top">

              <div class="item__linkBlk">
                <a href="#" class="item__link">
                  Add to cart
                </a>
              </div>
              
              <div class="item__picBlk">
                <img src="./img/MAE.jpg" alt="game" class="item__picGame">
              </div>

            </div>

            <div class="item__bottom">
                <h4 class="item__heading">
                    Call of Duty: WWII
                </h4>
                <div class="item__category">
                    Game Voucher
                </div>
                <div class="item__price">
                    $228.300
                </div>
            </div>

          </div>

          <div class="item">
            <div class="item__top">

              <div class="item__linkBlk">
                <a href="#" class="item__link">
                  Add to cart
                </a>
              </div>
              
              <div class="item__picBlk">
                <img src="./img/cod.jpg" alt="game" class="item__picGame">
              </div>

            </div>

            <div class="item__bottom">
                <h4 class="item__heading">
                    Call of Duty: WWII 
                </h4>
                <div class="item__category">
                    Game Voucher
                </div>
                <div class="item__price">
                    $228.300
                </div>
            </div>

          </div>

          <div class="item">
              <div class="item__top">

                <div class="item__linkBlk">
                  <a href="#" class="item__link">
                    Add to cart
                  </a>
                </div>
                
                <div class="item__picBlk">
                  <img src="./img/DI3.jpg" alt="game" class="item__picGame">
                </div>

              </div>

              <div class="item__bottom">
                  <h4 class="item__heading">
                      Call of Duty: WWII
                  </h4>
                  <div class="item__category">
                      Game Voucher
                  </div>
                  <div class="item__price">
                      $228.300
                  </div>
              </div>

            </div>

          <div class="item">
              <div class="item__top">

                <div class="item__linkBlk">
                  <a href="#" class="item__link">
                    Add to cart
                  </a>
                </div>
                
                <div class="item__picBlk">
                  <img src="./img/FP3.jpg" alt="game" class="item__picGame">
                </div>

              </div>

              <div class="item__bottom">
                  <h4 class="item__heading">
                      Call of Duty: WWII
                  </h4>
                  <div class="item__category">
                      Game Voucher
                  </div>
                  <div class="item__price">
                      $228.300
                  </div>
              </div>

            </div>
            
          <div class="item">
            <div class="item__top">

              <div class="item__linkBlk">
                <a href="#" class="item__link">
                  Add to cart
                </a>
              </div>
              
              <div class="item__picBlk">
                <img src="./img/BF3.jpg" alt="game" class="item__picGame">
              </div>

            </div>

            <div class="item__bottom">
                <h4 class="item__heading">
                    Call of Duty: WWII
                </h4>
                <div class="item__category">
                    Game Voucher
                </div>
                <div class="item__price">
                    $228.300
                </div>
            </div>

          </div>
            
        </div>








        
        </div>


      </div>
    </div>


  

</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>